<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>17/07/08 23:08:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HelloWorldTest.beforeMethod()[pri:0, instance:com.org.learningMaven.HelloWorldTest@5e3a8624]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/07/08 23:08:39</td>   <td>3799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HelloWorldTest.login()[pri:0, instance:com.org.learningMaven.HelloWorldTest@5e3a8624]">login</td> 
  <td>main@1926764753</td>   <td></td> </tr>
</table>
